.pie-part {
    $pi: 22 / 7;
    $strokeWidth: 50;
    $x: 50;
    $y: 50;
    cx: $x;
    cy: $y;
    r: 25;
    stroke-width: $strokeWidth;

    fill: transparent;
    // transform: rotate(-90deg);
    transform-origin: #{$x}px #{$y}px;
    stroke-dashoffset: 0;

    &.pie-part--full {
        stroke-width: $strokeWidth + 1; // +1 to fix outline issue
        // stroke: white;
        stroke-dasharray: $strokeWidth * $pi * 1 $strokeWidth * $pi;
    }

    &.circle-animate {
        animation: revealOne 1s linear;
        animation-fill-mode: forwards;

        @keyframes revealOne {
            to {
                stroke-dashoffset: - $pi * $strokeWidth;
            }
        }
    }

}